# pdf files
*.pdf

# resources from gradle
.gradle
/build

# resources from eclipse
/bin
.settings
.classpath
.project
.pydevproject
userHome

# resources from VS Code
/.vscode

# resources from latex
_minted-*
*.log
*.aux
*.toc
*.nav
*.out
*.snm
*.fls
*.bbl

# resources from IDEA
/.idea/
*.iml
*.ipr
*.iws
